<div id="aboutmeprofile" class="row contentcontainer">

  Currently, I am a Software Engineer at the #1 data storage company NetApp, which provides backup and data recovery solutions to businesses in both a financially and storage efficient manner. We enable businesses to backup their data completely, store copies of their data remotely, restore from those copies they made, and to ultimately keep their businesses fault tolerant and up and running. I started here fresh out of college because I interned there the previous summer and accepted the offer due to my aspirations and the respect I had for the people working here. <br><br>

  My project as an Intern here was to add the functionality of being able to store copies of data for a time duration as opposed to being able to only store a number of copies. I was able to complete the project within 3/4 of the time I was allotted, and completed extra work during my time there.
  Currently I am responsible for the transfer logic of full copies of File Systems for a chain of filers that may be linked together by policies that determine when to replicate the data. <br><br>

  Although most of my recent experience has to do with Operating Systems and File Systems, I  have always had an obsession and passion for web development. From the day I started at NetApp until today (10 months later), I can honestly and confidently say that I've been fervently working on projects of my own just so I had an excuse to play with different technologies. If I didn't write code that day, I was studying some type of technology/library. <br><br>

  Some of the projects I've worked on more recently include Matchmaker and a Draw My Thing Clone. <br><br>

  Matchmaker is a dating site that I built after asking people to fill out my questionnaire at local Barnes and Nobles stores multiple times. The answers to my questionnaire gave me insight as to how to differentiate my site from other sites like eHarmony or Match.com. This site is built using the MEAN stack, and includes many other process tools like Grunt and Bower. Currently, this site is not complete and is an ongoing project for me to continue learning on my own. I am the sole developer and owner for this site. <br><br>

  Draw My Thing Clone is exactly what it sounds like. I tried to duplicate the game on Android with a friend. I architected the RESTful API and the schema already, but in the near future, I will also implement the Android UI. This is also an ongoing project between my friend Son and I. <br><br>

  My aspirations are to become a Full-stack-Javascript Architect. For that reason, I've attended many different conferences including Amazon ReInvent and JSConf. I also regularly watch online podcasts of different technologies and libraries to evaluate their capabilities and strengths.<br><br>

  I am a Full-stack-Javascript-web-developer and am looking for any position that will give me the chance to work with any part of the Javascript stack. I am actively seeking for Front-end jobs that utilize the front-end frameworks AngularJS or BackboneJS. As far as backend development, I enjoy using ExpressJS on NodeJS and MongoDB. In terms of mobile, I'm open to working with technologies like PhoneGap (write once, deploy to many).<br><br>

  Below is a picture of my commit log to one of my projects<br><br>
  <img src="images/commitlog.png" alt="" width="100%" height="500px" style="border:5px solid">

</div>
